body.useFancyHighlight .activeSearchResultContainer a {
  outline: 0;
}

body.useFancyHighlight .activeSearchResultContainer > div {
    position: relative;
}

body.useFancyHighlight .activeSearchResultContainer {
  border-left: 3px solid #2586fc !important;
  transform: translate(-3px, 0) !important;
}

body.useFancyHighlight div.g.activeSearchResultContainer,
body.useFancyHighlight li.ads-ad li.activeSearchResultContainer,
body.useFancyHighlight div.gs_r.activeSearchResultContainer {
  padding-left: 8px;
  margin-left: -11px;
  transform: none !important;
}

body.useFancyHighlight .activeSearchResultContainer img {
  border-top: 3px solid #2586fc !important;
}

/* https://github.com/miyaoka/crx-google-search-results-shortcuts/blob/master/src/content-scripts/index.css */
body.useSimpleHighlight {
  /* 無限スクロールの2ページ目以降は #botstuff で囲まれる */
  #search, #botstuff {
    a:focus-visible {
      outline: 0;
      position: relative;
      display: inline-block;
      transform: translate(20px, 0);
      transition: ease-out 0.1s;
      white-space: nowrap;    
    }
    /* 矢印アイコン */
    a:focus-visible::before {
      position: absolute;
      right: 100%;
      top: 0;
      transform: translate(-4px, 4px);
      background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%3E%3Cpath%20fill%3D%22%233B88C3%22%20d%3D%22M36%2032c0%202.209-1.791%204-4%204H4c-2.209%200-4-1.791-4-4V4c0-2.209%201.791-4%204-4h28c2.209%200%204%201.791%204%204v28z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7%2014h9V7l13%2011-13%2011v-7H7z%22%2F%3E%3C%2Fsvg%3E");
      background-size: 16px;
      width: 16px;
      height: 16px;
      content: "";
    }
  }
}

div[role="navigation"] table a:focus-visible {
  text-decoration: underline;
  /* navigation のリンクは右に移動しない */
  transform: none !important;
}